
<form method="post" action="/save/<%=@user.id %>">
<h6>Title of Post:</h6><input type="text" name="title"><br>
<h6>Content: </h6><br><textarea name="content" cols="102" rows="5"></textarea><br>
<input type="submit" value="Save">
</form>