<body>
<h1>Please Login To Blog</h1>
<form method="post" action="/send_login#find_user">
<h10>User Name:</h10><input type="text" name="name">
<h10>Password: </h10><input type="password" name="phraseofpass">
<input type="submit" value="Login">
</form>

<h12><a href="/sign_up"> No Account?! Sign Up!</a></h12>
<h1>Please Enter Your Information Below</h1>
<form method="post" action="/sign_up">
<table>
<tr><td><h10>User Name:</h10></td><td><input type="text" name="name"></td></tr>
<tr><td><h10>Password: </10></td><td><input type="string" name="phraseofpass"></td></tr>
<tr><td><h10>Location:</h10></td>
<td>
<select name="location" size="1">
	<option value="AL">Alabama</option>
	<option value="AK">Alaska</option>
	<option value="AZ">Arizona</option>
	<option value="AR">Arkansas</option>
	<option value="CA">California</option>
	<option value="CO">Colorado</option>
	<option value="CT">Connecticut</option>
	<option value="DE">Delaware</option>
	<option value="FL">Florida</option>
	<option value="GA">Georgia</option>
	<option value="HI">Hawaii</option>
	<option value="ID">Idaho</option>
	<option value="IL">Illinois</option>
	<option value="IN">Indiana</option>
	<option value="IA">Iowa</option>
	<option value="KS">Kansas</option>
	<option value="KY">Kentucky</option>
	<option value="LA">Louisiana</option>
	<option value="ME">Maine</option>
	<option value="MD">Maryland</option>
	<option value="MA">Massachusetts</option>
	<option value="MI">Michigan</option>
	<option value="MN">Minnesota</option>
	<option value="MS">Mississippi</option>
	<option value="MO">Missouri</option>
	<option value="MT">Montana</option>
	<option value="NE">Nebraska</option>
	<option value="NV">Nevada</option>
	<option value="NH">New Hampshire</option>
	<option value="NJ">New Jersey</option>
	<option value="NM">New Mexico</option>
	<option value="NY">New York</option>
	<option value="NC">North Carolina</option>
	<option value="ND">North Dakota</option>
	<option value="OH">Ohio</option>
	<option value="OK">Oklahoma</option>
	<option value="OR">Oregon</option>
	<option value="PA">Pennsylvania</option>
	<option value="RI">Rhode Island</option>
	<option value="SC">South Carolina</option>
	<option value="SD">South Dakota</option>
	<option value="TN">Tennessee</option>
	<option value="TX">Texas</option>
	<option value="UT">Utah</option>
	<option value="VT">Vermont</option>
	<option value="VA">Virginia</option>
	<option value="WA">Washington</option>
	<option value="WV">West Virginia</option>
	<option value="WI">Wisconsin</option>
	<option value="WY">Wyoming</option>
	</select>
	</td></tr>
	
<tr><td><h10>Mood Preference:</h10></td>
<td> <select name="mood_pref">
	  <option value=1>Sad</option>
	  <option value=2>A Bit Down</option>
	  <option value=3>Nuetral</option>
	  <option value=4>Pleased</option>
	  <option value=5>Happy</option>
	
	</select>

</td></tr>
<tr><td><h10>Email Address:</h10></td><td><input type="text" name="email"></td></tr>
<tr><input type="submit" value="Create Account"></tr>
</form>
</body>