<head>
<title> The Moody Bloogs </title>
</head>

<h1><center>The Moody Bloogs</center></h1>
<h2><center>A Small Experiment In Paragraph Connotation</center></h2>

<%= yield %>
<br><h12><a href="mailto:ja.lueth@gmail.com">Send Mail</a></h12>